.form-card {
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-content {
    font-size: 16px;
    margin-bottom: 10px;
}

.animated-radio input[type='radio'] {
    opacity: 0;
    position: absolute;
    transform: scale(0);
    transition: all 0.3s ease-in-out;
}

.animated-radio input[type='radio']:checked+.form-check-label {
    background-color: #ffc107;
    color: #000;
    transform: scale(1.2);
}